@model OsisModel.Models.AcademicYearViewModel

@{
    ViewBag.Title = "Create";
}

<h1>Create a academic year</h1>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.SchoolRefID, "School Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SchoolRefID")
                @Html.ValidationMessageFor(model => model.SchoolRefID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartYear, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartYear)
                @Html.ValidationMessageFor(model => model.StartYear)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndYear, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndYear)
                @Html.ValidationMessageFor(model => model.EndYear)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, "DateTime")
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate)
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActiveYear, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ActiveYear)
                @Html.ValidationMessageFor(model => model.ActiveYear)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DisplayYear, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DisplayYear)
                @Html.ValidationMessageFor(model => model.DisplayYear)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Create" class="btn btn-default" style="height:50px;margin-left:175px" />
            </div>
        </div>
    </div>
}

<div class="form-group">
    <div class="col-md-10" style="font-size:25px">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/globalize")
}
