@model OsisModel.Models.SchoolClassViewModel

@{
    ViewBag.Title = "Create";
}
@section viewpagestyle
{
    <style type="text/css">
        .validation-summary-errors{ font-size:20px; font-weight:bold}
    </style>


}




<h1 class="h1padbot">Create a class for a school</h1>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="row" style="width:1500px;">
        @Html.ValidationSummary(true)
        <div class="col-lg-6">

            <div class="form-horizontal formpadleft" style="border:solid 1px black;">
                

                <div class="form-group">
                    @Html.LabelFor(model => model.SchoolRefID, "School Name", new { @class = "controlLabel col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("SchoolRefID","Please select a school")
                        @Html.ValidationMessageFor(model => model.SchoolRefID)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ClassName, new { @class = "controlLabel col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ClassName)
                        @Html.ValidationMessageFor(model => model.ClassName)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" style="height:75px" />
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div id="ClassOrderDisplay" style="float:right;font-size:25px;">
                <table id="ClassOrderTable" class="table-bordered table-striped" style="width:600px;" >
                    <thead>
                        <tr>
                            <th style="width:20%">ClassID</th>

                            <th style="width:60%">ClassName</th>

                            <th style="width:60%">ClassOrder</th>
                        </tr>
                    </thead>
                    <tbody></tbody>

                </table>
            </div>

        </div>
    </div>
    
}

<div class="form-group">
    <div class="col-md-10" style="font-size:25px">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">

        

        $("select#SchoolRefID").bind('change', function () {
            var SchoolID = $("select#SchoolRefID option:selected").val();
                $.getJSON('@Url.Action("GetClassOrderBySchoolID")', { id: SchoolID }, function (data) {
                    $('#ClassOrderTable tbody').remove();
                    var tr;
                    for (var i = 0; i < data.length; i++) {
                        tr = $('<tr/>');
                        tr.append("<td>" + data[i].ClassID + "</td>");
                        tr.append("<td>" + data[i].ClassName + "</td>");
                        tr.append("<td>" + data[i].ClassOrder + "</td>");
                        $("#ClassOrderTable").append(tr);
                    }

                });
        });
</script>
}
