@model OsisModel.Models.SchoolClassViewModel

@{
    ViewBag.Title = "Edit";
}

<h1>Edit a Class Name</h1>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ClassID)
        @Html.HiddenFor(model => model.SchoolRefID)
        <div class="form-group">
            @Html.LabelFor(model => model.SchoolRefID, "School Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SchoolRefID", null, String.Empty, new { @disabled = "disabled"})
                @Html.ValidationMessageFor(model => model.SchoolRefID)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.ClassName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClassName)
                @Html.ValidationMessageFor(model => model.ClassName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-default" style="height:50px;margin-left:175px" />
            </div>
        </div>
    </div>
}

<div class="form-group">
    <div class="col-md-10" style="font-size:25px">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/globalize")
}
