@model IEnumerable<OsisModel.Models.SchoolClassSingle>
@using PagedList;
@using PagedList.Mvc;


@{
    ViewBag.Title = "School and Classs Listing";
}

<h1>Class Listing</h1>

<p>
    <h1>@Html.ActionLink("Create New", "Create")</h1>
</p>
<div id="list">
    <table style="font-size:22px;width:1700px;" class="table-bordered table-striped" >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SchoolName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>Operations</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SchoolName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
                <td>
                    @Html.ActionLink("Edit Class", "Edit", new { id = item.ClassID })

                </td>
            </tr>
        }

    </table>
    </div>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
