@model OsisModel.Models.Student

@{
    ViewBag.Title = "Students Details";
}
@section viewpagestyle
{
    <style type="text/css">
        tr {
            line-height: 25px;
            min-height: 25px;
            height: 50px;
           }

        .table-striped>tbody>tr:nth-child(odd)>td, 
        .table-striped>tbody>tr:nth-child(odd)>th {
        background-color: #adebad;
        }
        .tborder tbody > tr > td{
           border:5px solid black;
        }
    </style>


}
<h1>Student Details</h1>

<div>
    <table class="table-bordered table-striped tborder" width="1500" style="font-size:25px;font-family:'Malgun Gothic'">
        
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>

            <td>
                @Html.DisplayFor(model => model.Name)
            </td>

            <td>
                @Html.DisplayNameFor(model => model.NickName)
            </td>

            <td>
                @Html.DisplayFor(model => model.NickName)
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Sex)
            </td>

            <td>
                @Html.DisplayFor(model => model.Sex)
            </td>

            <td>
                @Html.DisplayNameFor(model => model.DOB)
            </td>

            <td>
                @Html.DisplayFor(model => model.DOB)
            </td>

        </tr>

        
        
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Address_Address1)
            </td>
            <td>
                @Html.DisplayFor(model => model.Address_Address1)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Address_Address2)
            </td>

            <td>
                @Html.DisplayFor(model => model.Address_Address2)
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Address_City)
            </td>

            <td>
                @Html.DisplayFor(model => model.Address_City)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Address_Pincode)
            </td>

            <td>
                @Html.DisplayFor(model => model.Address_Pincode)
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Address_Mobile)
            </td>

            <td>
                @Html.DisplayFor(model => model.Address_Mobile)
            </td>

            <td>
                @Html.DisplayNameFor(model => model.Phone)
            </td>

            <td>
                @Html.DisplayFor(model => model.Phone)
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Email)
            </td>

            <td>
                @Html.DisplayFor(model => model.Email)
            </td>

            <td>
                @Html.DisplayNameFor(model => model.website)
            </td>

            <td>
                @Html.DisplayFor(model => model.website)
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.FathersName)
            </td>

            <td>
                @Html.DisplayFor(model => model.FathersName)
            </td>

            <td>
                @Html.DisplayNameFor(model => model.MothersName)
            </td>

            <td>
                @Html.DisplayFor(model => model.MothersName)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.FathersOccupation)
            </td>

            <td>
                @Html.DisplayFor(model => model.FathersOccupation)
            </td>

            <td>
                @Html.DisplayNameFor(model => model.MothersOccupation)
            </td>

            <td>
                @Html.DisplayFor(model => model.MothersOccupation)
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.MothersPhone)
            </td>

            <td>
                @Html.DisplayFor(model => model.MothersPhone)
            </td>

            <td>
                @Html.DisplayNameFor(model => model.FathersPhone)
            </td>

            <td>
                @Html.DisplayFor(model => model.FathersPhone)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.FathersQualification)
            </td>

            <td>
                @Html.DisplayFor(model => model.FathersQualification)
            </td>

            <td>
                @Html.DisplayNameFor(model => model.MothersQualifiication)
            </td>

            <td>
                @Html.DisplayFor(model => model.MothersQualifiication)
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.MotherTongue)
            </td>

            <td>
                @Html.DisplayFor(model => model.MotherTongue)
            </td>

            <td>
                @Html.DisplayNameFor(model => model.IdentificationMarks)
            </td>

            <td>
                @Html.DisplayFor(model => model.IdentificationMarks)
            </td>

        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.KnowMedicalCondition)
            </td>

            <td>
                @Html.DisplayFor(model => model.KnowMedicalCondition)
            </td>

            <td>
                @Html.DisplayNameFor(model => model.SpecialTalents)
            </td>

            <td>
                @Html.DisplayFor(model => model.SpecialTalents)
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ReasonForOlivekids)
            </td>

            <td>
                @Html.DisplayFor(model => model.ReasonForOlivekids)
            </td>

            <td>
                @Html.DisplayNameFor(model => model.PlayschoolExperience)
            </td>

            <td>
                @Html.DisplayFor(model => model.PlayschoolExperience)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.DateOfJoining)
            </td>

            <td>
                @Html.DisplayFor(model => model.DateOfJoining)
            </td>

            <td>
                @Html.DisplayNameFor(model => model.CenterCode)
            </td>

            <td>
                @Html.DisplayFor(model => model.CenterCode)
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.RegistrationNo)
            </td>

            <td>
                @Html.DisplayFor(model => model.RegistrationNo)
            </td>

            <td>
                @Html.DisplayNameFor(model => model.AdmissionFee)
            </td>

            <td>
                @Html.DisplayFor(model => model.AdmissionFee)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.TotalCourseFee)
            </td>

            <td>
                @Html.DisplayFor(model => model.TotalCourseFee)
            </td>

            <td>
                @Html.DisplayNameFor(model => model.TermFee)
            </td>

            <td>
                @Html.DisplayFor(model => model.TermFee)
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Height)
            </td>

            <td>
                @Html.DisplayFor(model => model.Height)
            </td>

            <td>
                @Html.DisplayNameFor(model => model.Weight)
            </td>

            <td>
                @Html.DisplayFor(model => model.Weight)
            </td>

        </tr>
    </table>
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
