@model OsisModel.Models.SchoolViewModel

@{
    ViewBag.Title = "Details";
}
@section viewpagestyle
{
    <style type="text/css">
        tr {
            line-height: 25px;
            min-height: 25px;
            height: 50px;
        }

        .table-striped > tbody > tr:nth-child(odd) > td,
        .table-striped > tbody > tr:nth-child(odd) > th {
            background-color: #adebad;
        }

        .tborder tbody > tr > td {
            border: 5px solid black;
        }

        .tborder thead > tr > td {
            border: 5px solid black;
            border-top: 5px solid black !important;
        }

        tr td:first-child {
            color: red;
        }

        tr td:nth-child(3) {
            color: red;
        }
    </style>


}
<h1>Schools Details</h1>

<div style="width:1500px">

    <table class="table-bordered table-striped tborder table" style="font-size:25px;font-family:'Trebuchet MS';">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.SchoolName)
            </td>

            <td>
                @Html.DisplayFor(model => model.SchoolName)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.LastRegNo)
            </td>

            <td>
                @Html.DisplayFor(model => model.LastRegNo)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.address.Address1)
            </td>

            <td>
                @Html.DisplayFor(model => model.address.Address1)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.address.Address2)
            </td>

            <td>
                @Html.DisplayFor(model => model.address.Address2)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.address.City)
            </td>

            <td>
                @Html.DisplayFor(model => model.address.City)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.address.Pincode)
            </td>

            <td>
                @Html.DisplayFor(model => model.address.Pincode)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.address.Mobile)
            </td>

            <td>
                @Html.DisplayFor(model => model.address.Mobile)
            </td>

            <td>
                @Html.DisplayNameFor(model => model.Selected)
            </td>

            <td>
                @Html.DisplayFor(model => model.Selected)
            </td>
        </tr>
        <tr>
            <td colspan="2">@Html.ActionLink("Edit", "Edit", new { id = Model.SchoolID })</td>
            <td colspan="2">@Html.ActionLink("Back to List", "Index")</td>
        </tr>
    </table>
</div>