@model OsisModel.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit";
}

<h1 class="h1padbot">Edit User</h1>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal formpadleft">
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.UserPreferences.UserID)
        
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, new { @class = "controlLabel col-md-2" })
            <div class="col-md-10" style="font-size:25px;">
                @Html.DisplayFor(model => model.UserName)
                
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SchoolID, "School Name", new { @class = "controlLabel col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SchoolID", null,"Please select a schools")
                @Html.ValidationMessageFor(model => model.SchoolID)
            </div>
        </div>
        <div class="form-group">        
            @Html.LabelFor(model => model.AcademicYearID, "Academic Year", new { @class = "controlLabel col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AcademicYearID",null, "Please select an academic year")
                @Html.ValidationMessageFor(model => model.AcademicYearID)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "controlLabel col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "controlLabel col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "controlLabel col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-default buttonlayout"  />
            </div>
        </div>
    </div>
}

<div class="form-group">
    <div class="col-md-10" style="font-size:25px">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/globalize")


    <script type="text/javascript">
    $("select#SchoolID").bind('change', function () {
        var SchoolID = $("select#SchoolID option:selected").val();
        if (SchoolID == "" || SchoolID == 0) {
            $("select#AcademicYearID").empty();
        }
        else {

            $.getJSON('@Url.Action("GetAcademicYearBySchoolID")', { id: SchoolID }, function (data) {
                $("select#AcademicYearID").empty();
                $.each(data, function (i, c) {
                    $('select#AcademicYearID').append('<option value="' + c.Value + '">' + c.Text + '</option>');
                });
                $("select#AcademicYearID option:first").attr('selected', 'selected');

            });
        }
    });

        


    </script>

}
